html{
  box-sizing: border-box;
}
*,*:after,*:before{
  box-sizing: inherit;
  margin: 0;
}
body{
  background: ;
  font-family: ;
}
h1,h2,h3,h4,h5,h6{
  font-family: ;
  color: ;
}
ul{
  padding: 0;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
  display: inline-block;
}
input, button, span{
  display: inline-block;
}

/* .container {
  width: 80%;
  max-width: 1200px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
} */

/* BRAKPOINTS
  small: 576px,
  medium: 768px,
  lagre: 992px,
*/

